In [1]:
#importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import plotly.graph_objects as go

In [5]:
#Reading Districtwise data detailing Education in India
df=pd.read_csv(r'Education\2015_16_Districtwise.csv')
df.head()

,AC_YEAR,STATCD,DISTCD,STATNAME,DISTNAME,DISTRICTS,BLOCKS,VILLAGES,CLUSTERS,TOTPOPULAT,...,UUNI_ALL,UUNI_SC,UUNI_ST,TOTCLS1G,TOTCLS2G,TOTCLS3G,TOTCLS4G,TOTCLS5G,TOTCLS6G,TOTCLS7G
0,2015-16,1,101,JAMMU & KASHMIR,KUPWARA,1,13,391,104,875564.0,...,21322,26,2594,3489,5315,27,62,23,852,239
1,2015-16,1,102,JAMMU & KASHMIR,BARAMULA,1,18,678,144,1015503.0,...,17307,0,1571,4127,5800,210,53,30,1665,360
2,2015-16,1,103,JAMMU & KASHMIR,SRINAGAR,1,8,94,65,1269751.0,...,5444,31,408,817,3284,886,11,0,2873,40
3,2015-16,1,104,JAMMU & KASHMIR,BADGAM,1,13,523,104,735753.0,...,12469,18,857,2290,3837,119,45,8,1035,325
4,2015-16,1,105,JAMMU & KASHMIR,PULWAMA,1,8,359,64,570060.0,...,7408,17,855,1688,2584,151,67,5,1101,209

In [3]:
df.columns

Index(['AC_YEAR', 'STATCD', 'DISTCD', 'STATNAME', 'DISTNAME', 'DISTRICTS',
       'BLOCKS', 'VILLAGES', 'CLUSTERS', 'TOTPOPULAT',
       ...
       'UUNI_ALL', 'UUNI_SC', 'UUNI_ST', 'TOTCLS1G', 'TOTCLS2G', 'TOTCLS3G',
       'TOTCLS4G', 'TOTCLS5G', 'TOTCLS6G', 'TOTCLS7G'],
      dtype='object', length=819)

In [12]:
#Reading the Districtwise Metadata which allows us to see what each column head means
ad=pd.read_csv(r'Education\2015_16_Districtwise_metadata.csv')
ad.tail(10)

    Field Name                                        Description
811   UUNI_ALL             Incentives_Upper_Primary_Uniform: All_
812    UUNI_SC               Incentives_Upper_Primary_Uniform: SC
813    UUNI_ST               Incentives_Upper_Primary_Uniform: ST
814   TOTCLS1G        Total_Classrooms_Primary_Only: Primary_Only
815   TOTCLS2G  Total_Classrooms_Primary_with_Upper_Primary: P...
816   TOTCLS3G  Total_Classrooms_Primary_with_upper_Primary_Se...
817   TOTCLS4G  Total_Classrooms_Upper_Primary_Only: Upper_Pri...
818   TOTCLS5G  Total_Classrooms_Upper_Primary_with_Sec./H.Sec...
819   TOTCLS6G  Total_Classrooms_Primary_with_upper_Primary_Se...
820   TOTCLS7G  Total_Classrooms_Upper_Primary_with_Sec.: Uppe...

In [7]:
ad[ad['Field Name']=='TOTCLS1G']['Description']

814    Total_Classrooms_Primary_Only: Primary_Only
Name: Description, dtype: object